h1 {
    text-align: center;
    font-size: 5vw;
    color: rgb(20, 0, 94);
}

p {
   text-align: center;
   font-size: 2vw;
}

a:hover {
    color: rgb(60, 0, 225)
}

a:link {
    color: rgb(102, 178, 255)
}

nav {
     font-size: 1vw;
     display: flex;
     flex-direction: row
}
     
